
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#number_of_objects,#start_model
{
font-size: 18px;
}

body
{
    background-size: cover;
    background-position: center;
}

canvas
{
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px red;
    margin-top: 100;
}